Codes/cinqC/xsd/cata5CChapeau.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns="odyssee/cocagne/Gui5C"
xmlns:Gui5C="odyssee/cocagne/Gui5C"
targetNamespace="odyssee/cocagne/Gui5C"
elementFormDefault="qualified" attributeFormDefault="unqualified" version="0">
	<xs:simpleType name="AccasAssd">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_sha1">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_testName">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_version">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_date">
		<xs:restriction base="xs:date">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_CMakeBuildType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Release"/>
			<xs:enumeration value="Debug"/>
			<xs:enumeration value="RelWithDebInfo"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_execution">
		<xs:restriction base="xs:string">
			<xs:enumeration value="par"/>
			<xs:enumeration value="seq"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_procs">
		<xs:restriction base="xs:int">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_host">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_OS">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_totalCpuTime_NoUnit">
		<xs:restriction base="xs:float">
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="T_totalCpuTime">
		<xs:simpleContent>
			<xs:extension base="Gui5C:T_totalCpuTime_NoUnit">
			<xs:attribute name="unite_T_totalCpuTime" type="xs:string"  fixed = "seconds"/>
			 </xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="T_label">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_cpuTime_NoUnit">
		<xs:restriction base="xs:float">
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="T_cpuTime">
		<xs:simpleContent>
			<xs:extension base="Gui5C:T_cpuTime_NoUnit">
			<xs:attribute name="unite_T_cpuTime" type="xs:string"  fixed = "seconds"/>
			 </xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="T_fractionOfTotalTime">
		<xs:restriction base="xs:float">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_calls">
		<xs:restriction base="xs:int">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_depth">
		<xs:restriction base="xs:int">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_fractionOfCallerTime_NoUnit">
		<xs:restriction base="xs:float">
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="T_fractionOfCallerTime">
		<xs:simpleContent>
			<xs:extension base="Gui5C:T_fractionOfCallerTime_NoUnit">
			<xs:attribute name="unite_T_fractionOfCallerTime" type="xs:string"  fixed = "percent"/>
			 </xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_functionsJobStatistics" >
		<xs:sequence>
			<xs:element name="label" type="Gui5C:T_label" minOccurs="1" maxOccurs="1"/>
			<xs:element name="cpuTime" type="Gui5C:T_cpuTime" minOccurs="1" maxOccurs="1"/>
			<xs:element name="fractionOfTotalTime" type="Gui5C:T_fractionOfTotalTime" minOccurs="1" maxOccurs="1"/>
			<xs:element name="calls" type="Gui5C:T_calls" minOccurs="1" maxOccurs="1"/>
			<xs:element name="depth" type="Gui5C:T_depth" minOccurs="1" maxOccurs="1"/>
			<xs:element name="fractionOfCallerTime" type="Gui5C:T_fractionOfCallerTime" minOccurs="1" maxOccurs="1"/>
			<xs:element name="functionsJobStatistics" type="Gui5C:T_functionsJobStatistics" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_JobStatistics" >
		<xs:sequence>
			<xs:element name="totalCpuTime" type="Gui5C:T_totalCpuTime" minOccurs="1" maxOccurs="1"/>
			<xs:element name="functionsJobStatistics" type="Gui5C:T_functionsJobStatistics" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_MyJobPerformance" >
		<xs:sequence>
			<xs:element name="sha1" type="Gui5C:T_sha1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="testName" type="Gui5C:T_testName" minOccurs="1" maxOccurs="1"/>
			<xs:element name="version" type="Gui5C:T_version" minOccurs="1" maxOccurs="1"/>
			<xs:element name="date" type="Gui5C:T_date" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CMakeBuildType" type="Gui5C:T_CMakeBuildType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="execution" type="Gui5C:T_execution" minOccurs="1" maxOccurs="1"/>
			<xs:element name="procs" type="Gui5C:T_procs" minOccurs="1" maxOccurs="1"/>
			<xs:element name="host" type="Gui5C:T_host" minOccurs="1" maxOccurs="1"/>
			<xs:element name="OS" type="Gui5C:T_OS" minOccurs="1" maxOccurs="1"/>
			<xs:element name="JobStatistics" type="Gui5C:T_JobStatistics" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="T_testName_1">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_sha1_1">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_sha1Debut">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_sha1Fin">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_date_1">
		<xs:restriction base="xs:date">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_dateDebut">
		<xs:restriction base="xs:date">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_dateFin">
		<xs:restriction base="xs:date">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_CMakeBuildType_1">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_execution_1">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_OS_1">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_procs_1">
		<xs:restriction base="xs:int">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_host_1">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="T_Selection" >
		<xs:sequence>
			<xs:element name="testName" type="Gui5C:T_testName_1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="sha1" type="Gui5C:T_sha1_1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="sha1Debut" type="Gui5C:T_sha1Debut" minOccurs="1" maxOccurs="1"/>
			<xs:element name="sha1Fin" type="Gui5C:T_sha1Fin" minOccurs="1" maxOccurs="1"/>
			<xs:element name="date" type="Gui5C:T_date_1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="dateDebut" type="Gui5C:T_dateDebut" minOccurs="1" maxOccurs="1"/>
			<xs:element name="dateFin" type="Gui5C:T_dateFin" minOccurs="1" maxOccurs="1"/>
			<xs:element name="version" type="Gui5C:T_version" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CMakeBuildType" type="Gui5C:T_CMakeBuildType_1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="execution" type="Gui5C:T_execution_1" minOccurs="1" maxOccurs="1" default="seq"/>
			<xs:element name="OS" type="Gui5C:T_OS_1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="procs" type="Gui5C:T_procs_1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="host" type="Gui5C:T_host_1" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="T_labels">
		<xs:restriction>
			<xs:simpleType>
				<xs:list>
					<xs:simpleType>
						<xs:restriction base="xs:string">
						</xs:restriction>
					</xs:simpleType>
				</xs:list>
			 </xs:simpleType>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="T_PresentationLabels" >
		<xs:sequence>
			<xs:element name="labels" type="Gui5C:T_labels" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="T_sha1Id">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_cpuTotalTime">
		<xs:restriction base="xs:float">
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="T_fonction" >
		<xs:sequence>
			<xs:element name="label" type="Gui5C:T_label" minOccurs="1" maxOccurs="1"/>
			<xs:element name="cpuTime" type="Gui5C:T_cpuTime" minOccurs="1" maxOccurs="1"/>
			<xs:element name="calls" type="Gui5C:T_calls" minOccurs="1" maxOccurs="1"/>
			<xs:element name="fractionOfTotalTime" type="Gui5C:T_fractionOfTotalTime" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_MyProfileResultat" >
		<xs:sequence>
			<xs:element name="sha1Id" type="Gui5C:T_sha1Id" minOccurs="1" maxOccurs="1"/>
			<xs:element name="cpuTotalTime" type="Gui5C:T_cpuTotalTime" minOccurs="1" maxOccurs="1"/>
			<xs:element name="fonction" type="Gui5C:T_fonction" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Gui5C" type="Gui5C:T_Gui5C"/>
		<xs:complexType name="T_Gui5C">
		  <xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="MyJobPerformance" type="Gui5C:T_MyJobPerformance" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Selection" type="Gui5C:T_Selection" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PresentationLabels" type="Gui5C:T_PresentationLabels" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MyProfileResultat" type="Gui5C:T_MyProfileResultat" minOccurs="0" maxOccurs="1"/>
		  </xs:choice>
		</xs:complexType>
	<xs:simpleType name="PNEFdico">
		<xs:annotation>
		<xs:documentation>{'T_sha1': {'_sha1_MyJobPerformance': 'T_sha1', '_sha1_Selection': 'T_sha1_1'}, 'T_testName': {'_testName_MyJobPerformance': 'T_testName', '_testName_Selection': 'T_testName_1'}, 'T_date': {'_date_MyJobPerformance': 'T_date', '_date_Selection': 'T_date_1'}, 'T_CMakeBuildType': {'_CMakeBuildType_MyJobPerformance': 'T_CMakeBuildType', '_CMakeBuildType_Selection': 'T_CMakeBuildType_1'}, 'T_execution': {'_execution_MyJobPerformance': 'T_execution', '_execution_Selection': 'T_execution_1'}, 'T_procs': {'_procs_MyJobPerformance': 'T_procs', '_procs_Selection': 'T_procs_1'}, 'T_host': {'_host_MyJobPerformance': 'T_host', '_host_Selection': 'T_host_1'}, 'T_OS': {'_OS_MyJobPerformance': 'T_OS', '_OS_Selection': 'T_OS_1'}}
		</xs:documentation>
		</xs:annotation>
	<xs:restriction base="xs:string"></xs:restriction>
	</xs:simpleType>
</xs:schema>